<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        padding: 25px;
        width: 100%;
        color: #549DF7;
        text-align: center;
        background: white;
    }
    </style>
    <title>Cuan POS | Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <br>
        <br>

        <h2>Form Login</h2>
        <br>
        <br>
        <form action="/table" method="get">

            <button type="submit" class="btn btn-primary">Dine In</button>

        </form>
        <br>
        <br>
        <form action="/user/login" method="post">

            <button type="submit" class="btn btn-primary">Take Way</button>

        </form>
        <br>
        <br>
        <form action="/user/dashboard" method="get">
            <button type="submit" class="btn btn-primary">Dashbord</button>
        </form>

        <br>
        <br>


    </div>
    <div style="height: 100px"></div>
    <br>

    <div class="footer">
        <footer> &copy; cuan POS</footer>
    </div>
</body>

</html>